<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
		<link rel="stylesheet" href='/public/style.min.css'>
		<title>React Gallery</title>
	</head>
	<body enabled='false'>
		<div id='root'>
			<!-- Rendered components
				will be injected here -->
				%HTML%
		</div>
		<script>
			/* App state will be injected here */
			window.__PRELOADED_STATE__ = %PRELOADED_STATE%
		</script>
		<script src='/public/app.bundle.js'></script>
	</body>
</html>